@media (max-width: 1200px) {
    .xl-g-40{
        gap: 35px;
    }
    
    .xl-g-70{
        gap: 70px;
    }

    .xl-m-lr-30{
        margin: 0px 30px 0px 30px;
    }
    .xl-mt-25{
        margin-top: 25px !important;
    }

    .xl-max-w-294{
        max-width: 294px;
    }
}
@media (max-width: 992px) {
    .contianer-self{
        padding: 0px 40px;
    }
    .contianer-2{
        padding: 0px 40px;
    }

    .lg-mt-13{
        margin-top: 13px !important;
    }

    .lg-g-20{
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .md-m-lr-25{
        margin: 0px 25px 0px 25px;
    }

    .md-g-13{
        gap: 13px;
    }
    .md-g-16{
        gap: 16px !important;
    }
    .md-g-22{
        gap: 22px !important;
    }

    .md-p-6-18{
        padding: 6px 18px;
    }
    .md-p-tb-60{
        padding: 60px 0px 60px 0px;
    }
    .md-pb-22{
        padding-bottom: 22px;
    }
    .md-pb-60{
        padding-bottom: 60px !important;
    }
    .md-pt-33{
        padding-top: 33px;
    }
    .md-p-tb-60-28{
        padding: 60px 0px 28px 0px;
    }

    .md-m-0{
        margin: 0;
    }
    .md-mt-13{
        margin-top: 13px !important;
    }
    .md-mt-25{
        margin-top: 25px;
    }
    .md-mt-46{
        margin-top: 46px;
    }
    .md-mt-32{
        margin-top: 32px;
    }
    .md-mt-60{
        margin-top: 60px !important;
    }

    .md-max-w-none{
        max-width: none;
    }
    .md-max-w-24{
        max-width: 24px;
    }

    .md-height-width{
        width: 218px !important;
        height: 400px !important;
    }

    .md-w-full{
        width: 100% !important;
    }

    .md-bottom--13{
        bottom: -13px !important;
    }
}
@media (max-width: 576px) {
    .contianer-self{
        padding: 0px 32px;
    }
    .contianer-2{
        padding: 0px 32px;
    }

    .sm-g-14{
        gap: 14px;
    }

    /* pading */
    .sm-p-tb-24{
        padding: 24px 0px 24px 0px;
    }
    
    /* margin */
    .sm-m-0{
        margin: 0;
    }
    .sm-mt-7{
        margin-top: 7px;
    }
    .sm-mt-10{
        margin-top: 10px !important;
    }
    .sm-mt-17{
        margin-top: 17px;
    }
    .sm-mt-45{
        margin-top: 45px;
    }
    .sm-m-lr-16{
        margin: 0px 32px 0px 32px;
    }
    
    /* max-w */
    .sm-max-w-37{
        max-width: 37px;
    }
    .max-w-230{
        max-width: 230px;
    }
    .sm-max-w-288{
        max-width: 288px;
    }
}
@media (max-width: 360px) {
    .contianer-self{
        padding: 0px 16px;
    }
    .contianer-2{
        padding: 0px 16px;
    }
    .sm-m-lr-16{
        margin: 0px 16px 0px 16px;
    }
}

