@media (max-width: 1350px) {
    .xxl-g-40 {
        gap: 40px;
    }

    .xxl-m-0 {
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .xl-g-20 {
        gap: 20px;
    }

    .xl-g-40 {
        gap: 35px !important;
    }

    .xl-g-70 {
        gap: 70px;
    }

    .xl-m-0 {
        margin: 0;
    }

    .xl-m-lr-30 {
        margin: 0px 30px 0px 30px;
    }

    .xl-mt-25 {
        margin-top: 25px !important;
    }

    .xl-max-w-294 {
        max-width: 294px;
    }

    .xl-max-w-340 {
        max-width: 340px;
    }

    .xl-max-w-410 {
        max-width: 410px;
    }

    .xl-max-w-500 {
        max-width: 500px;
    }

    .xl-top-20 {
        top: 20px;
    }
}

@media (max-width: 992px) {
    .contianer-self {
        padding: 0px 40px;
    }

    .contianer-2 {
        padding: 0px 40px;
    }

    .lg-flex-wrap {
        flex-wrap: wrap;
    }

    .lg-mt-13 {
        margin-top: 13px !important;
    }

    .lg-m-auto {
        margin: auto;
    }

    .lg-pl-50 {
        padding-left: 50px;
    }

    .lg-g-20 {
        gap: 20px;
    }

    .lg-max-w-150 {
        max-width: 150px;
    }

    .lg-max-w-280 {
        max-width: 280px;
    }

    .lg-max-w-400 {
        max-width: 380px;
    }

    .lg-max-w-500 {
        max-width: 500px !important;
    }

    .lg-max-w-none {
        max-width: none;
    }

    .lg-bottom--30 {
        bottom: -30px !important;
    }
}

@media (max-width: 768px) {
    .contianer-3 {
        padding: 0px 32px;
    }

    .md-m-lr-25 {
        margin: 0px 25px 0px 25px;
    }

    .md-g-13 {
        gap: 13px;
    }

    .md-g-16 {
        gap: 16px !important;
    }

    .md-g-22 {
        gap: 22px !important;
    }

    .md-p-6-18 {
        padding: 6px 18px;
    }

    .md-p-tb-60 {
        padding: 60px 0px 60px 0px;
    }

    .md-pb-22 {
        padding-bottom: 22px;
    }

    .md-pb-60 {
        padding-bottom: 60px !important;
    }

    .md-pt-33 {
        padding-top: 33px;
    }

    .md-p-tb-60-28 {
        padding: 60px 0px 28px 0px;
    }

    .md-p-tb-60-111 {
        padding: 60px 0px 111px 0px;
    }

    .md-pl-32 {
        padding-left: 32px;
    }

    .md-p-tb-120-0 {
        padding-bottom: 0;
        padding-top: 120px;
    }

    .md-m-0 {
        margin: 0;
    }

    .md-mt-13 {
        margin-top: 13px !important;
    }

    .md-mt-25 {
        margin-top: 25px;
    }

    .md-mt-46 {
        margin-top: 46px;
    }

    .md-mt-32 {
        margin-top: 32px;
    }

    .md-mt-40 {
        margin-top: 40px;
    }

    .md-mt-60 {
        margin-top: 60px !important;
    }

    .md-mt-150 {
        margin-top: 150px;
    }

    .md-mb--30 {
        margin-bottom: -30px;
    }

    .md-max-w-none {
        max-width: none !important;
    }

    .md-max-w-24 {
        max-width: 24px;
    }

    .md-max-w-300 {
        max-width: 300px;
    }

    .md-height-width {
        width: 218px !important;
        height: 400px !important;
    }

    .md-h-782 {
        height: 875px;
    }

    .md-h-504 {
        height: 505px;
    }

    .md-w-full {
        width: 100% !important;
    }

    .md-bottom--13 {
        bottom: -13px !important;
    }

    .sm-top--138 {
        top: -208px;
    }
}

@media (max-width: 576px) {
    .contianer-self {
        padding: 0px 32px;
    }

    .contianer-2 {
        padding: 0px 32px;
    }

    .contianer-3 {
        padding: 0px 32px;
    }

    .sm-g-0 {
        gap: 0 !important;
    }

    .sm-g-10 {
        gap: 10px !important;
    }

    .sm-g-14 {
        gap: 14px;
    }

    .sm-g-25 {
        gap: 25px;
    }

    /* pading */
    .sm-p-tb-24 {
        padding: 24px 0px 24px 0px;
    }

    .sm-pt-33 {
        padding-top: 33px;
    }

    .sm-p-tb-34 {
        padding: 34px 0px 34px 0px !important;
    }

    .sm-p-tb-45 {
        padding: 45px 0px 45px 0px !important;
    }

    .md-pb-54 {
        padding-bottom: 54px;
    }

    .sm-p-tb-60-120 {
        padding: 60px 0px 120px 0px;
    }

    .sm-p-29-17-70-10 {
        padding: 29px 17px 70px 10px;
    }

    .sm-p-22 {
        padding: 22px;
    }

    .sm-pt-54 {
        padding-top: 54px;
    }

    .sm-p-29-30-24-10 {
        padding: 29px 30px 24px 10px;
    }

    /* margin */
    .sm-m-0 {
        margin: 0;
    }

    .sm-mt-7 {
        margin-top: 7px;
    }

    .sm-mt-10 {
        margin-top: 10px !important;
    }

    .sm-mt-17 {
        margin-top: 17px;
    }

    .sm-mt-24 {
        margin-top: 24px;
    }

    .sm-mt-45 {
        margin-top: 45px;
    }

    .sm-mt-80 {
        margin-top: 80px;
    }

    .sm-m-lr-16 {
        margin: 0px 32px 0px 32px;
    }

    .sm-mt-54 {
        margin-top: 54px;
    }

    /* max-w */
    .sm-max-w-37 {
        max-width: 37px;
    }

    .sm-max-w-46 {
        max-width: 476px;
    }

    .sm-max-w-98 {
        max-width: 98px;
    }

    .sm-max-w-114 {
        max-width: 114px;
    }

    .max-w-170 {
        max-width: 170px;
    }

    .sm-max-w-218 {
        max-width: 218px;
    }

    .max-w-230 {
        max-width: 230px;
    }

    .sm-max-w-288 {
        max-width: 288px;
    }

    .sm-max-w-296 {
        max-width: 296px;
    }

    .sm-h-0 {
        height: max-content;
    }

    .sm-h-350 {
        height: 350px;
    }

    .sm-h-440 {
        height: 440px;
    }

    .sm-border-none {
        border: none;
    }

    .sm-top-0 {
        top: 0;
    }

    .sm-top--138 {
        top: -138px;
    }
}

@media (max-width: 360px) {
    .contianer-self {
        padding: 0px 16px;
    }

    .contianer-2 {
        padding: 0px 16px;
    }

    .contianer-3 {
        padding: 0px 16px;
    }

    .sm-m-lr-16 {
        margin: 0px 16px 0px 16px;
    }
}