@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face {
    font-family: "avantt";
    src: url("/assetes/font/AVGARDN_2.TTF");
}
.ff-avantt{
    font-family: "avantt";
}
.ff-robot-mono{
    font-family: "Roboto Mono";
}

.contianer-self{
    max-width: 1181px;
    padding: 0px 50px;
    margin: 0px auto;
}
.contianer-2{
    max-width: 1400px;
    padding: 0px 50px;
    margin: 0px auto;
}
.contianer-3{
     max-width: 1400px;
    padding: 0px 32px;
    margin: 0px auto;
}

.list-style-none{
    list-style: none;
}

/* letter-spacing */
.letter-spacing-1p4{
    letter-spacing: 1.4px;
}

/* color */
.text-gray-D7D9DD{
    color: #D7D9DD;
}
.text-broun-494336{
    color: #494336;
}
.text-linear-gradiant{
    color: #FFA280;
}

/* bg color */
.bg-linear-gra, .swiper-pagination span{
    background: var(--Gradient-02, linear-gradient(90deg, #FFA280 0%, #8FD9D9 100%)) !important;
}
.bg-broun-494336{
    background: #494336;
}
.bg-gray-D7D9DD80{
    background: #D7D9DD80;
}

/* bg-img */
.bg-hero-img{
    background-image: url("../img/png/Hero\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* hover */
.transition-remo{
    transition: all .5s ease-in-out;
}
.text-black-hvr:hover{
    color: black;
    transition: all .5s ease-in-out;
}
.linear-50-hvr:hover{
    background: linear-gradient(90deg,#8FD9D9  0%,  #FFA280 100%) !important;
    transition: all .5s ease-in-out;
}
.svg-hvr:hover{
    transform: translateY(-3px);
    transition: all .5s ease-in-out;
}
.opacity-full-hvr:hover{
    opacity: 1;
    transition: all .5s;
}

/* padding */
.p-tb-10{
    padding: 10px 0;
}
.p-12-38{
    padding: 12px 28px;
}
.p-tb-11-18{
    padding: 11px 0px 18px 0px;
}
.p-tb-193-85{
    padding: 193px 0px 85.02px 0px;
}
.p-tb-80{
    padding: 80px 0px 80px 0px ;
}
.pb-35{
    padding-bottom: 35px;
}
.pb-80{
    padding-bottom: 80px;
}
.p-12-27{
    padding: 12px 27px;
}
.p-25-16-25-20{
    padding: 25px 16px 25px 20px;
}
.pb-140{
    padding-bottom: 140px;
}
.p-tb-80{
    padding: 80px 0px 80px 0px;
}
.p-tb-80-84{
        padding: 80px 0px 84px 0px;
}
.p-tb-60{
    padding: 60px 0 60px 0;
}
.p-7-14{
    padding: 7px 14px;
}
.p-tb-140-80{
    padding: 140px 0px 80px 0px;
}
.pl-115{
    padding-left: 115px;
}
.p-tb-140-80{
    padding: 140px 0px 80px 0px
}
.p-34-21-57-48{
    padding: 34px 21px 57px 48px;
}
.pl-25{
    padding-left: 25px;
}
.p-22-32{
    padding: 22px 32px;
}
.p-11-34{
    padding: 11px 34px;
}
.p-44-40-24-40{
    padding: 44px 40px 24px 40px;
}
.pt-60{
    padding-top: 60px;
}

/* marign */
.m-auto{
    margin: auto;
}
.mt--2{
    margin-top: -2px;
}
.mt-15{
    margin-top: 15px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mt-22{
    margin-top: 22px !important;
}
.mt-24{
    margin-top: 24px;
}
.mt-26{
    margin-top: 26px;
}
.mt-28{
    margin-top: 28px;
}
.mt-31{
    margin-top: 31px !important;
}
.mt-36{
    margin-top: 36px !important;
}
.mt-40{
    margin-top: 40px !important;
}
.mt-50{
    margin-top: 50px !important;
}
.mt--100{
    margin-top: -100px;
}
.ml-56{
    margin-left: 56px;
}
.mt-60{
    margin-top: 60px;
}
.mt-120{
    margin-top: 120px;
}
.m-lr-50{
    margin: 0px 50px 0px 50px;
}
.ml-113{
    margin-left: 113px;
}
.mr-37{
    margin-right: 37px;
}
.mr--157{
    margin-right: -157px;
}
.ml--30{
    margin-left: -30px;
}
.mb--60{
    margin-bottom: -60px;
}
.mb--40{
    margin-bottom: -40px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-90{
    padding-bottom: 90px;
}

/* line height*/
.line-h-100{
    line-height: 100%;
}
.line-h-137{
    line-height: 137%;
}
.line-h-130{
    line-height: 130%;
}
.line-h-144{
    line-height: 144.444%;
}
.line-h-150{
    line-height: 150%;
}
.line-h-175{
    line-height: 175%;
}

/* gap */
.g-5{
    gap: 5px;
}
.g-7{
    gap: 7px;
}
.g-10{
    gap: 10px;
}
.g-20{
    gap: 20px;
}
.g-24{
    gap: 24px;
}
.g-32{
    gap: 32px;
}
.g-40{
    gap: 40px;
}
.g-57{
    gap: 57px;
}
.g-66{
    gap: 66px;
}
.g-98{
    gap: 98px;
}
.g-118{
    gap: 118px;
}

/* max-width */
.max-w-166{
    max-width: 166px !important;
}
.max-w-200{
    max-width: 200px;
}
.max-w-207{
    max-width: 207px;
}
.max-w-275{
    max-width: 275px;
}
.max-w-310{
    max-width: 310px;
}
.max-w-362{
    max-width: 362px;
}
.max-w-374{
    max-width: 374px;
}
.max-w-400{
    max-width: 400px;
}
.max-w-420{
    max-width: 420px;
}
.max-w-480{
    max-width: 480px;
}
.max-w-511{
    max-width: 511px;
}
.max-w-547{
    max-width: 547px;
}
.max-w-568{
    max-width: 568px;
}
.max-w-584{
    max-width: 584px;
}
.max-w-518{
    max-width: 518px;
}
.max-w-591{
    max-width: 591px;
}
.max-w-639{
    max-width: 639px;
}
.max-w-660{
    max-width: 660px;
}
.max-w-700{
    max-width: 700px;
}
.max-w-770{
    max-width: 770px;
}
.max-w-820{
    max-width: 820px;
}
.max-w-843{
    max-width: 843.343px
}

.min-w-250{
    min-width: 250px;
}

.w-50{
    width: 50%;
}
.w-309{
    width: 309px;
}

.h-419{
    height: 419px;
}
.h-431{
    height: 431px;
}
.h-440{
    height: 440px;
}
.h-504{
    height: 504px;
}
.h-584{
    height: 584px;
}

/* postion */
.right-0{
    right: 0px;
}
.right-35{
    right: -35px;
}
.right-45{
    right: 45px;
}
.right-15{
    right: 15px;
}
.top-10{
    top: 10px;
}
.top-23{
    top: 23px;
}
.bottom-20{
    bottom: 20px;
}
.bottom--40{
    bottom: -40px !important;
}
.bottom-75{
    bottom: 75px;
}
.bottom-100{
    bottom: 100px !important;
}
.bottom-120{
    bottom: 120px;
}

.z-index--99{
    z-index: -99;
}

/* border */
.div-border{
    height: 2px;
    background: linear-gradient(90deg, #FFA280 0%, #8FD9D9 100%);
}
.div-border-3{
     height: 3px;
    background: #494336;
}
.border-bottom-1-white{
    border-bottom: 1px solid #D7D9DD;
}
.border-bottom-1-black{
    border-bottom: 1px solid #000;
}
.border-1-gray{
    border: 1px solid #D9D9D9;
}

.email-placeholder::placeholder{
    color: #D7D9DD;
    line-height: 133%;
}
.email-plaxeholder:focus{
    outline: none;
}

.opacity-half{
    opacity: .5;
}